* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(97, 224, 224);
    padding: 3vh 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
}
button, textarea {
    font-family: "Poppins";
}

#canvas-program-container {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px black;
}

#wait-message {
    font-size: 20px;
    margin: 20px 0;
}

#main-buttons-container {
    margin: 2vh 0;
    display: flex;
    justify-content: center;
}

#options-container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#text-area-container, #author-container {
    width: 100%;
    display: flex !important;
    justify-content: center;
}
#options-container > div {
    display: inline-block;
    padding: 5px 10px;
}

#text-size-slider {
    width: auto;
}
#text-area {
    font-size: 20px;
    width: 100%;
    max-width: 400px;
    padding: 3px;
}
#author {
    padding: 3px;
}

button {
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
    padding: 5px;

    color: black;
    background-color: white;
    border: none;
    box-shadow: 2px 2px 2px black;
    transition: 0.2s;
}
button:hover {
    color: white;
    background-color: green;
}