* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(188, 117, 246);
    padding: 3vh 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
}
button, textarea {
    font-family: "Poppins";
}

#canvas-program-container {
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px black;
}

#recording-control {
    margin-top: 10px;
    align-items: center;
}
#recording-control > button {
    margin-left: 20px;
    font-size: 15px;
    padding: 5px 10px;
}

#wait-message {
    font-size: 20px;
    margin: 20px 0;
}

#main-buttons-container {
    margin: 2vh 0;
    display: flex;
    justify-content: center;
}
#main-buttons-container > button {
    font-size: 25px;
    margin: 0 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
}

#options-container {
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#text-area-container, #author-container {
    width: 100%;
    display: flex !important;
    justify-content: center;
}
#options-container > div {
    display: inline-block;
    padding: 5px 10px;
}

#text-size-slider {
    width: auto;
}
#text-area {
    font-size: 20px;
    width: 100%;
    max-width: 400px;
    padding: 3px;
}
#author {
    padding: 3px;
    margin-right: 10px;
}
#audio-button {
    font-size: 14px;
    padding: 3px;
}
.audio-added {
    background-color: rgb(40, 255, 20);
}

#audio-modal {
    position: fixed;
    top: 0; left: 0;
    height: 100vh; width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;

    align-items: center;
    justify-content: center;
    display: none;
}
#audio-modal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 95vw;
    background-color: rgb(188, 117, 246);
    font-size: 18px;
    padding: 1vw;
    text-align: center;
}
#audio-modal h6 {
    color: red;
    font-size: 15px;
}
#audio-modal > div > button {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
}









button {
    cursor: pointer;
    color: black;
    background-color: white;
    border: none;
    transition: 0.2s;
}
button:hover {
    color: white;
    background-color: rgb(121, 37, 190);
}